{% extends "base.html" %}


{% block content %}

<p><b>Title:</b> {{job.title}}</p>
<p>{{job.job_desc}}</p>
<p><b>Publish date:</b> {{job.publish_date}}</p>

{% if job.job_image %}
    <p> <img src="{{job.job_image.url}}"> </p>
{% else %}
    <p> <img src="https://dummyimage.com/200x300/000/fff&text=No+movie+image"></p>
{% endif %}

<div>
    <b>Skills:</b>
    <ul>
    {% for skill in job.job_skills.all %}
        <li>{{ skill }}</li>
    {% endfor %}
    </ul>
</div>
<hr>

<a href="{% url 'job_update' job.id %}">Update</a>
<span><b>.</b></span>
<a href="{% url 'job_delete' job.id %}">Delete</a>


{% endblock %}